@import "tailwindcss";

/* =========================== 
    1.ROOT 
===========================*/
@theme {
  --font-primary: "Inter", sans-serif;
  --font-accent:"Monoton", sans-serif;

  --font-heading: var(--font-primary);
  --font-body: var(--font-primary);
  --font-logo: var(--font-accent);


  --clr-accent-blue-400: #2567f5;
  --clr-danger: #9c2a22;
  --clr-success: #4caf50;

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #dedede;
  --clr-neutral-300: #8c8c8c;
  --clr-neutral-500: #696969;
  --clr-neutral-600: #444444;
  --clr-neutral-700: #25272b;
  --clr-neutral-800: #151515;
  --clr-neutral-900: #000;

  --body-fg: var(--clr-neutral-700);
  --body-bg: var(--clr-neutral-200);

  --header-bg: var(--clr-neutral-100);
  --section-bg: var(--clr-neutral-100);

  --modal-fg: var(--clr-neutral-700);
  --modal-bg: var(--clr-neutral-100);
  
  --form-bg: var(--clr-neutral-100);
  --footer-bg: var(--clr-neutral-100);
  --logo-clr: var(--clr-accent-blue-400);
  --input-bg: var(--clr-neutral-100);
  --border-clr: var(--clr-neutral-700);

  --bg-primary-text:var(--clr-neutral-200);
  --bg-primary-btn:var(--clr-neutral-900) ;
  --bg-primary-btn-hover: var(--clr-neutral-700);



  --fs-50: clamp(0.65rem, 0.6rem + 0.2vw, 0.70rem);
  --fs-100: clamp(0.7rem, 0.65rem + 0.25vw, 0.75rem);
  --fs-200: clamp(0.8rem, 0.75rem + 0.3vw, 0.875rem);
  --fs-300: clamp(0.85rem, 0.8rem + 0.35vw, 0.9375rem);
  --fs-400: clamp(0.95rem, 0.9rem + 0.4vw, 1rem);
  --fs-500: clamp(1rem, 0.95rem + 0.5vw, 1.125rem);
  --fs-600: clamp(1.2rem, 1.1rem + 1vw, 1.5rem);
  --fs-650: clamp(1.35rem, 1.2rem + 1.2vw, 1.75rem);
  --fs-700: clamp(1.5rem, 1.3rem + 1.6vw, 2rem);
  --fs-800: clamp(2rem, 1.5rem + 2.5vw, 3rem);
  --fs-900: clamp(2.5rem, 2rem + 3vw, 3.5rem);
  
  --text-primary-heading: var(--fs-800);
  --text-secondary-heading: var(--fs-700);
  --text-modal-header: var(--fs-650);
  --text-body: var(--fs-500);
  --text-nav: var(--fs-400);
  --text-footer: var(--fs-200);
  --text-btn: var(--fs-300);
  --text-logo-small-text: var(--fs-50);
  --text-primary-footer-copyright-text: var(--fs-100);
  --text-table: var(--fs-200);

  --border-radius-400:4px;
  --border-radius-800:8px;
  
}

.dark{
  --body-fg:  var(--clr-neutral-200);
  --body-bg:  var(--clr-neutral-700);

  --header-bg: var(--clr-neutral-800);
  --section-bg:  var(--clr-neutral-800);

  --modal-fg:  var(--clr-neutral-200);
  --modal-bg:  var(--clr-neutral-800);

  --form-bg:  var(--clr-neutral-800);
  --footer-bg:  var(--clr-neutral-800);
  --logo-clr: var(--clr-accent-blue-400);
  --input-bg:  var(--clr-neutral-700);
  --border-clr:  var(--clr-neutral-300);
    
  --bg-primary-text:var(--clr-neutral-200);
  --bg-primary-btn:rgb(0, 34, 69);
  --bg-primary-btn-hover: rgb(0, 34, 69, 0.8);
 
}

@layer base {
/* =========================== 
  2.RESET
===========================*/
/* Box sizing rules */ 
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html,
body {
    min-height: 100%;
}
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* =========================== 
  3. GLOBAL STYLES 
===========================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  line-height: 1.2;
}

body {
  font-family: var(--font-body);
  font-size: var(--fs-body);
  color: var(--body-fg);
  background-color: var(--body-bg);
  line-height: 1.5;
}


select,
input,
textarea {
  background: var(--input-bg);
}



/* =========================== 
    4.UTILITY CLASSES 
===========================*/

.container-custom{
--max-width: 50rem;
    max-width: min(var(--max-width), 100% - 2rem);
    margin-inline: auto;
}

:where(.flow > *:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.fs-primary-heading{
    font-size: var(--fs-primary-heading);
}
.fs-secondary-heading{
    font-size: var(--fs-secondary-heading);
}

.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* =========================== 
    4. COMPONENTS 
===========================*/
/* Mobile navigation*/
.mobile-main-nav{
    z-index:999;
    inset:6rem 1rem;
    background-color: var(--header-bg);    
}
/* Buttons */
.btn{    
    cursor:pointer;
    padding: 0.5rem 1.3rem;
    width:fit-content;   
    border:none;

}
.btn[data-type="primary"]{
    background: #000;
    color:#eeeeee;
}
.btn[data-type="inverted"]{
    background:#eee;
    color:#000;
}
.btn[data-type="ghost"]{    
    color:var(--body-fg);
    border: 1px solid currentColor;
}
.btn[data-type="login"]{
    background: #04D9FF;
    color:#fff;
}
.btn[data-type="sign-up"]{
    background: #DC4D01;
    color:#fff;
}
}